.relevancia-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.Urgente-content{
    border-left: 3px solid #F5655D;
}

.Importante-content{
    border-left: 3px solid #E8F55D;
}

.Complementario-content{
    border-left: 3px solid #5CAAF4;
}

.content-titulo{
    padding-left: 1.5rem;
}

.Urgente{
    background-color: #F5655D;
}

.Importante{
    background-color: #E8F55D;
}

.Complementario{
    background-color: #5CAAF4;
}

.content-tareas{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

