.calendario-content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
    margin: 1.5rem;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1.5rem;
    gap: 1rem;
    position: sticky;
    top: 1rem;
    max-width: 54rem;
    min-width: 50rem;
}

.content-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-buttons{
    display: flex;
    gap: 0.5rem;
}

.time-buttons > button{
    background-color: #fff;
    outline: none;
    border: 1px solid #a59a9a;
    color: #696363;
    border-radius: 5px;
    padding: 0.5rem 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time-buttons > button:hover{
    cursor: pointer;
}

.content-days{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(7, 14.28%);
    grid-template-rows: min-content;
    grid-auto-rows: 9rem;
    gap: 1px;
}

.content-days > * {
    background-color: #f7f9fa;
    outline: #ccc9c9 1px solid;
}

.content-days > :nth-child(-n+7){
    background-color: #fff;
    height: max-content;
    display: flex;
    justify-content: center;
}

.content-days > :nth-child(n+7){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0.25rem;
}

.content-days > :nth-child(1){
    border-top-left-radius: 10px;
}
.content-days > :nth-child(7){
    border-top-right-radius: 10px;
}

