.barra-content{
    display: flex;
}

.barra-content input{
    flex: 1;
    height: 2.5rem;
    border: 1px solid;
    padding-left: 1.5rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content-icon{
    width: 2rem;
    border: 1px solid #000;
    border-left: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
