.contentGeneral{
    border-radius: 15px;
    padding: .25rem;
}
.tareas-content{
    display: grid;
    grid-template-columns: 1fr 8fr 2fr 4fr 6fr;
    align-items: center;
    justify-items: center;
}

.Urgente-tarea{
    border: 1px #756867 solid;
}

.Importante-tarea{
    border: 1px #747567 solid;
}

.Complementario-tarea{
    border: 1px #728AA0 solid;
}

.content-checkmark{
    min-width: 1rem;
    min-height: 1rem;
    color: #02bd3a;
    border: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.content-texto{
    justify-self: start;
}

.content-etiqueta{
    text-align: center;
}

.content-icons{
    width: 100%;
    display: flex;
    font-size: 1.25rem;
    align-items: center;
    justify-content: space-evenly;
}

.content-icons > *{
    cursor: pointer;
}

.icons-subtask{
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.icons-subtask > p {
    font-size: 0.75rem;
}

.subtask-content{
    padding: 0 1rem ;
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
    align-items: center;
}

.subtask-check{
    justify-self: center;
    min-width: 1rem;
    min-height: 1rem;
    color: #02bd3a;
    border: solid 1px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}