.formularioSub-content{
    background-color: #fff;
    width: 20%;
    min-width: 20rem;
    padding: 1rem 2rem;
    border-radius: 15px;
    border: #241663d7 solid 2px;
    display: flex;
    flex-direction: column;
}

.formularioSub-tituloContent{
    display: flex;
    justify-content: space-between;
}

.icono{
    color: #5e5b5b;
    cursor: pointer;
}

.indicacion{
    margin: 0.5rem 0;
}

.formularioSub-content span{
    color: #ff0000;
}

.formularioSub-titulo input{
    width: 100%;
    height: 2.5rem;
    border-radius: 5px;
    border: solid 1px  #2416634d ;
    background-color: #f3eeee71;
    box-sizing: border-box;
    padding-left: 1rem;
    padding-right: 1rem;
}

.formularioSub-descripcion{
    margin-bottom: 2rem;
}

.formularioSub-descripcion textarea{
    resize: none;
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    border-radius: 5px;
    padding: 1rem 1rem;
    border: solid 1px  #2416634d ;
    background-color: #f3eeee71;
    overflow-y: hidden;
}

.formularioSub-descripcion textarea:focus,
.formularioSub-titulo input:focus{
    outline: none;
    border: solid 2px  #150072 ;
}

.formularioSub-button-content{
    display: flex;
    justify-content: space-between;
}

.formularioSub-button-content button{
    width: 7rem;
    height: 2.5rem;
    font-weight: 600;
    border-radius: 10px;
    border: solid 1px  #2416634d ;
    cursor: pointer;
}

.button-cancelar{
    background-color: #fff;
}

.button-aceptar{
    background-color: #150072;
    color: #fff;
}